{% extends 'base.html.twig' %}

{% block title %}Liste des Emprunts{% endblock %}

{% block body %}
    <h1 class="mt-4">Liste des Emprunts</h1>
        
    <!-- Tableau des Emprunts -->
    <table class="table table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Étudiant</th>
                <th>Livre</th>
                <th>Date d'Emprunt</th>
                <th>Date de Retour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for emprunt in emprunts %}
                <tr>
                    <td>{{ emprunt.id }}</td>
                    <td>{{ emprunt.etudiant.nom }}</td>
                    <td>{{ emprunt.livre.nomLivre }}</td>
                    <td>{{ emprunt.dateEmprunt|date('Y-m-d') }}</td>
                    <td>{{ emprunt.dateRetour|date('Y-m-d') }}</td>
                    <td>
                        <!-- Boutons d'édition et de suppression -->
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Bouton d'ajout -->
    <a href="#" class="btn btn-success">Ajouter un Emprunt</a>
{% endblock %}
